.blog-list {
  .blog-item {
    margin-bottom: 80px;
  }

  .post-title {
    margin-bottom: 0;
    font-family: 'Fira Sans', sans-serif;
    font-size: 2em;
    font-weight: 500 ;

    a {
      font-weight: 500 ;
    }
  }

  .post-date {
    @extend %no-space;
  }

  .post-image {
    height: 300px;
    max-height: 300px;
    margin: 10px 0 30px;
    background-size: cover !important;
    background-position: top center !important;
  }

  .post-description,
  .post-detail {
    h2,
    h3 {
      font-family: 'Fira Sans', sans-serif;
      font-weight: 700;
      color: #345;
    }

    h2 {
      font-size: 1.6rem !important;
    }

    h3 {
      font-size: 1.2rem !important;
    }

    a {
      color: #008CBA;
    }

    p {
      font-size: 1.2em;
      font-family: 'Boon';
    }

    img {
      border: 1px solid #ccc
    }
  }
}

.paginator-blog  {
  .previous,
  .page_number,
  .next {
    font-size: 1.5em;
    font-weight: 500;
  }
}