header.header {
    margin-top: 50px;
}

.author-desc {
    img {
        width: 150px;
        border-radius: 50%;
    }

    h1 {
        margin-top: 20px;
        margin-bottom: 0;
        font-family: 'Fira Sans', sans-serif;
        font-size: 1.2em;
        font-weight: 400;
    }

    p {
        margin-top: 0;
        font-weight: 300;
        font-style: italic;

        strong {
            color: #fff;
            padding: 0 5px;
            background: #FE7E17;
        }

        a:hover { text-decoration: none;}
    }
}

//https://css-tricks.com/almanac/properties/a/animation/
.user-avatar {
    animation-name: stretch;
  animation-duration: .5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    transform: scale(.98);
  }
  100% {
    transform: scale(1);
  }
}