nav.nav {
  margin: 10px auto 40px;

  a {
    font-size: 2.2em;
    font-weight: 700;
    color: #D0DADC;

    &.active {
      color: #345;
    }
  }
}

@media only screen and (max-width: 768px)  {
  nav.nav a {
    font-size: 1.6em;
  }
}