@import url(http://fonts.googleapis.com/css?family=Marko+One);

html,
body {
    height: 100%;
    font-family: Arial;
}

body { background: #ECECEC; }

.container {
    height: 100%;
}

header {
    width: 100%;
    padding: 10px 0;
    background: #023A5B;
    z-index: 1000;

    h1 {
        padding: 0;
        margin: 0;
        font: 1.8em bold 'Marko One', serif;

        a {
            color: #FFF;
        }
    }

    ul.top-nav {
        margin: 5px 0 0 0;
        padding: 0;
        list-style: none;

        li {
            display: inline-block;
            font-size: .9em;
            padding: 0 30px;

            a {
                color: #a2adbc;
                &:hover {
                    color: #fff;
                }
            }
        }
    }
}

.inset {
    padding-top: 20px;
    height: 85px;
    background: #0081BB;

    img {
        width: 130px;
        border: 6px solid #ECECEC;
        -webkit-border-radius: 150px;
           -moz-border-radius: 150px;
                border-radius: 150px;
    }
}

footer.footer {
    position: relative;
    height: 58px;
    margin-top: -58px;
    background: #023A5B;
    z-index: 10;
    clear: both;

    p {
        letter-spacing: 1px;
        padding-top: 16px;
        font-size: .8em;
        color: #a2adbc;
    }
}