<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/foundation.min.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/style.css">

    </head>
    <body>
        <div class="container">
            <header class="header">
                <div class="row">
                    <div class="medium-6 columns">
                        <h1><a href="/" title="{{ site.name }}">iChaiwut</a></h1>
                    </div>
                    <nav class="medium-6 columns text-right">
                        <ul class="top-nav">
                            <li><a href="/">Home</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">About</a></li>
                        </ul>
                    </nav>
                </div>
            </header>
            <div class="inset">
                <div class="row">
                    <div class="medium-12 columns text-center">
                        <img src="img/avatar-me.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="content-wrapper">
                {{ content }}
            </div>
        </div>
        <footer class="footer">
            <div class="row">
                <div class="medium-12 columns text-center">
                    <p>
                        &copy;Copyright iChaiwut
                    </p>
                </div>
            </div>
        </footer>
    </body>
</html>
