<!DOCTYPE html>
 <!--
         _       __     __                             __                                      ___
| |     / /__  / /________  ____ ___  ___     / /_____     ____  ____ __________ _____/ (_)_______
| | /| / / _ \/ / ___/ __ \/ __ `__ \/ _ \   / __/ __ \   / __ \/ __ `/ ___/ __ `/ __  / / ___/ _ \
| |/ |/ /  __/ / /__/ /_/ / / / / / /  __/  / /_/ /_/ /  / /_/ / /_/ / /  / /_/ / /_/ / (__  )  __/
|__/|__/\___/_/\___/\____/_/ /_/ /_/\___/   \__/\____/  / .___/\__,_/_/   \__,_/\__,_/_/____/\___/
                                                       /_/
-->
<html>
    {% include head.html %}
    <body>
        <div class="container">
            <header class="header">
                <div class="row author-desc">
                    <div class="medium-12 columns text-center">
                        <a href="/index.html" title="iChaiwut">
                            <img src="{{ page.imageurl }}/img/avatar-me.jpg" alt="iChaiwut.me" title="iChaiwut.me" class="user">
                        </a>
                        <h1>iChaiwut</h1>
                        <p>
                            Frontend developer at
                            <a href="http://buzzwoo.de" title="BuzzWoo!">
                                <strong>BuzzWoo!</strong>
                            </a>
                        </p>
                    </div>
                </div>
            </header><!-- Header -->
            <nav class="nav">
                <div class="row">
                    <div class="medium-4 columns text-left">
                        <a href="/about.html"
                            title="#"
                            class="{% if page.url == '/about.html' %} active {% endif %}">
                            about
                        </a>
                    </div>
                    <div class="medium-4 columns text-center">
                        <a
                            href="/index.html"
                            title="#"
                            class="{% if page.url == '/index.html' %} active {% endif %}">
                            blog
                        </a>
                    </div>
                    <div class="medium-4 columns text-right">
                        <a
                            href="/resume.html"
                            title="#"
                            class="{% if page.url == '/resume.html' %} active {% endif %}">
                            resume
                        </a>
                    </div>
                </div>
            </nav>
            <div class="content-wrapper">
                {{ content }}
            </div>
        </div><!-- Container -->
        <footer class="footer">
            <div class="row">
                <div class="medium-12 columns text-center">
                    <p>
                        &copy;iChaiwut
                    </p>
                </div>
            </div>
        </footer>
        {% include script-file.html %}
    </body>
</html>
