<!DOCTYPE html>
 <!--
         _       __     __                             __                                      ___
| |     / /__  / /________  ____ ___  ___     / /_____     ____  ____ __________ _____/ (_)_______
| | /| / / _ \/ / ___/ __ \/ __ `__ \/ _ \   / __/ __ \   / __ \/ __ `/ ___/ __ `/ __  / / ___/ _ \
| |/ |/ /  __/ / /__/ /_/ / / / / / /  __/  / /_/ /_/ /  / /_/ / /_/ / /  / /_/ / /_/ / (__  )  __/
|__/|__/\___/_/\___/\____/_/ /_/ /_/\___/   \__/\____/  / .___/\__,_/_/   \__,_/\__,_/_/____/\___/
                                                       /_/
-->
<html>
    {% include head.html %}
    <body>
        <div class="wrapper">
            <div class="row">
                <div class="medium-8 columns">
                    {{ content }}
                </div>
                <div class="medium-3 columns wrapper__right-col">
                    <div class="wrapper__right-col-con text-center">
                        <a href="/index.html" title="iChaiwut">
                            <img src="{{ page.imageurl }}/img/avatar-me.jpg" alt="iChaiwut.me" title="iChaiwut.me" class="user-avatar">
                        </a>
                        <p class="wrapper__work-label">
                            <strong>Frontend developer at</strong>
                            <a href="https://www.buzzwoo.de" title="BUZZWOO!">
                                <strong>BUZZWOO!</strong>
                            </a>
                        </p>
                        <p class="wrapper__detail">
                            My name is Chaiwut. I am a web designer and front-end developer, as well as a web developer too.
                            I love coding HTML, JavaScript, CSS and PHP of course. I was born and live in Chiang Mai
                        </p>
                        <div class="wrapper__blog-btn-con">
                            <a href="/about.html" class="btn btn-read-more wrapper__blog-btn wrapper__about-btn" title="About Chaiwut">
                                More about me
                            </a>
                        </div>
                    </div>

                    <div class="wrapper__right-col-con text-center">
                        <ul class="wrapper__social-list">
                            <li class="wrapper__social-items"><a href="http://facebook.com/ichaiwut.s"><img src="{{ page.imageurl }}/img/facebook.png" alt="facebook/ichaiwut.s" title="facebook/ichaiwut.s"></a></li>
                            <li class="wrapper__social-items"><a href="http://twitter.com/BeStrangers"><img src="{{ page.imageurl }}/img/twitter.png" alt="@Bestrangers" title="@Bestrangers"></a></li>
                            <li class="wrapper__social-items"><a href="http://chaiwut.tumblr.com"><img src="{{ page.imageurl }}/img/tumblr.png" alt="chaiwut.tumblr.com" title="chaiwut.tumblr.com"></a></li>
                            <li class="wrapper__social-items"><a href="http://instagram.com/BeStrangers"><img src="{{ page.imageurl }}/img/instagram.png" alt="@BeStrangers" title="@BeStrangers"></a></li>
                            <li class="wrapper__social-items"><a href="http://github.com/ichaiwut"><img src="{{ page.imageurl }}/img/github.png" alt="@ichaiwut" title="@ichaiwut"></a></li>
                        </ul>
                    </div>

                    <iframe height='454' width='270' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/athletes/11408799/latest-rides/c17631fbd03387815b332977681311b2a2287584'></iframe>
                    <div class="wrapper__right-col-con text-center twitter-frame">
                        <div class="wrapper__iframe-con">
                            <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/BeStrangers" data-widget-id="340062171423711233">Tweets by @BeStrangers</a>
                            <script>
                                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
                            </script>
                        </div>
                    </div>


                    <div class="wrapper__right-col-con text-center copy-right-con">
                        <p class="wrapper__copy-right">
                            &copy;2016 chaiwut.me
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% include script-file.html %}
    </body>
</html>
